Source: opae
Priority: optional
Maintainer: OPAE Dev Team <opae@lists.01.org>
Build-Depends: debhelper (>= 10),
               gcc, g++,
               make, cmake,
               python3-dev,
               libjson-c-dev,
               uuid-dev,
               libhwloc-dev,
               doxygen,
               pandoc,
               libtbb-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://github.com/OPAE/opae-sdk.git
Vcs-Git: https://github.com/OPAE/opae-sdk.git

Package: opae
Section: libs
Priority: optional
Architecture: any
Depends: uuid, libjson-c3,
         ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: OPAE runtime

Package: opae-devel
Section: libdevel
Priority: optional
Architecture: any
Multi-Arch: same
Depends: opae (= ${binary:Version}),
         ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: OPAE headers, sample source, and documentation

Package: opae-extra-tools
Section: utils
Priority: optional
Architecture: any
Multi-Arch: same
Depends: opae (= ${binary:Version}), opae-devel (= ${binary:Version}),
         libhwloc, libtbb, libedit,
         ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
Description: OPAE extra tool binaries
