# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OPAE/api reviews everything, unless overridden below.
*                               @OPAE/api

# API specification, implementation, and samples
opae.cfg                        @OPAE/api
CMakeLists.txt                  @OPAE/api
/include/                       @OPAE/api
/libraries/                     @OPAE/api
/ofs/                           @OPAE/api
/python/                        @OPAE/api

# Tools
/binaries/                      @OPAE/tools
/samples/                       @OPAE/tools

# Platforms database
/platforms/                     @OPAE/ase

# Documentation
AUTHORS                         @OPAE/doc
CONTRIBUTING.md                 @OPAE/doc
COPYING                         @OPAE/doc
LICENSE                         @OPAE/doc
README.md                       @OPAE/doc
RELEASE_NOTES.md                @OPAE/doc

/doc/                           @OPAE/doc
/scripts/build-documentation.sh @OPAE/doc
/scripts/push-documentation.sh  @OPAE/doc
/setup/                         @OPAE/doc

# Build toolchain & continuous integration
buildit.py                      @OPAE/ci
opae.spec.in                    @OPAE/ci
opae.spec.rhel                  @OPAE/ci
opae.spec.fedora                @OPAE/ci
.gitattributes                  @OPAE/ci
.gitconfig                      @OPAE/ci
.gitignore                      @OPAE/ci
/.github/                       @OPAE/ci
/packaging/                     @OPAE/ci
/scripts/                       @OPAE/ci
/tests/                         @OPAE/ci
/cmake/                         @OPAE/ci
