# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# API specification, implementation, and samples
/common/include/OPAE/          @OPAE/api
/libopae/                      @OPAE/api
/libopaecxx/                   @OPAE/api
/samples/                      @OPAE/api

# Tools
/tools/                        @OPAE/tools

# ASE & platforms database
/ase/                          @OPAE/ase
/platforms/                    @OPAE/ase

# Documentation
/doc/                          @OPAE/doc

# Build toolchain & continuous integration
CMakeLists.txt                 @OPAE/ci
/scripts/                      @OPAE/ci
/tests/                        @OPAE/ci
/testing/                      @OPAE/ci
.travis.yml                    @OPAE/ci
/cmake/                        @OPAE/ci
opae.spec.in                   @OPAE/ci

# Safestring library
/common/include/safe_string/   @OPAE/safe
/safe_string/                  @OPAE/safe
