language: c
compiler: gcc
install:
  - pip install --user pylint
  - pip install --user pycodestyle
  - pip install --user jsonschema


script:
    - scripts/test-codingstyle.sh
    - scripts/test-codingstyle-py.sh
    - scripts/test-build.sh
    - scripts/test-gtapi-mock-drv.sh
addons:
  apt:
    packages:
      - libboost-all-dev
      - libjson-c-dev
      - uuid-dev
