babel==2.9.1
Jinja2==2.11.3
requests==2.25.1
docutils==0.14
pygments==2.7.4
sphinx==3.4.3
sphinx-rtd-theme==0.4.3
sphinx_fontawesome==0.0.6
sphinx-markdown==1.0.2
recommonmark==0.6.0
breathe==4.26.1
urllib3==1.26.4
