# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# API specification, implementation, and samples
/common/include/OPAE/          @tswhison @rrojo @aravuri
/libopae/                      @tswhison @rrojo @aravuri
/libopaecxx/                   @tswhison @rrojo @aravuri
/samples/                      @tswhison @rrojo @aravuri

# Tools
/tools/                        @rrojo @mgerlach @aravuri @tswhison @scottgi

# ASE & platforms database
/ase/                          @rrojo @ahanani1
/platforms/                    @rrojo @ahanani1

# Documentation
/doc/                          @tswhison @ahanani1

# Build toolchain & continuous integration
CMakeLists.txt                 @amarroqu @homichel @rrojo @ccbilbre
/scripts/                      @amarroqu @homichel @rrojo @ccbilbre
/tests/                        @amarroqu @homichel @rrojo @ccbilbre
/testing/                      @amarroqu @homichel @rrojo @ccbilbre
.travis.yml                    @amarroqu @homichel @rrojo @ccbilbre
/cmake/                        @amarroqu @homichel @rrojo @ccbilbre
.gitlab-ci.yml                 @amarroqu @homichel @rrojo @ccbilbre

# Safestring library
/common/include/safe_string/   @amarroqu @homichel @tswhison
/safe_string/                  @amarroqu @homichel @tswhison

# Codeowners
.gitlab/CODEOWNERS             @amarroqu @homichel @rrojo
