# Ignore everything but Qsys source files
/dma_test_system/
/ip/dma_test_system/ddr4a_mm_bridge/
/ip/dma_test_system/ddr4a_mm_bridge_0/
/ip/dma_test_system/dma_test_system_afu_id_avmm_slave_0/
/ip/dma_test_system/dma_test_system_clock_bridge_0/
/ip/dma_test_system/dma_test_system_clock_bridge_1/
/ip/dma_test_system/dma_test_system_clock_bridge_2/
/ip/dma_test_system/dma_test_system_mm_bridge_0/
/ip/dma_test_system/dma_test_system_mm_bridge_1/
/ip/dma_test_system/dma_test_system_mm_clock_crossing_bridge_1/
/ip/dma_test_system/dma_test_system_mm_clock_crossing_bridge_2/
/ip/dma_test_system/dma_test_system_reset_in/
/ip/msgdma_bbb/dma_core_dma_read_master/
/ip/msgdma_bbb/dma_core_dma_write_master/
/ip/msgdma_bbb/dma_core_modular_sgdma_dispatcher_0/
/ip/msgdma_bbb/dma_core_pipe_stage_dma_read/
/ip/msgdma_bbb/dma_core_pipe_stage_dma_write/
/ip/msgdma_bbb/msgdma_bbb_address_span_extender_0/
/ip/msgdma_bbb/msgdma_bbb_afu_id_avmm_slave_0/
/ip/msgdma_bbb/msgdma_bbb_clk/
/ip/msgdma_bbb/msgdma_bbb_csr/
/ip/msgdma_bbb/msgdma_bbb_magic_number_rom_0/
/ip/msgdma_bbb/msgdma_bbb_mm_bridge_0/
/ip/msgdma_bbb/msgdma_bbb_mm_bridge_1/
/ip/msgdma_bbb/msgdma_bbb_pipe_stage_0/
/ip/msgdma_bbb/msgdma_bbb_pipe_stage_m/
/msgdma_bbb/
