name: Build RPMs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'
jobs:
  RPM:
    strategy:
      matrix:
        distro: [centos7.6, fedora32]
    runs-on: ubuntu-latest
    name: Build ${{ matrix.distro }}
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build . -f docker/${{ matrix.distro }}/Dockerfile -t opae-${{ matrix.distro }}
      - name: Build RPM
        run: docker run --rm -v ${{ github.workspace }}:/root opae-${{ matrix.distro }} ${{ matrix.distro }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v2.1.4
        with:
          name: OPAE-${{ matrix.distro }}
          path:
            ${{ matrix.distro }}/*.rpm

