name: C/C++ CI Build and Test

on:
  push:
    branches: [master]
    paths-ignore:
      - 'python/**'
      - 'tools/extra/fpgabist/**'
      - 'tools/extra/packager/*.py'
      - 'tools/extra/packager/metadata/**'
      - 'tools/extra/packager/test/*.py'
      - 'tools/extra/pac_hssi_config/*.py'
      - 'tools/extra/fpgadiag/**'
      - 'tools/utilities/**'
      - 'scripts/*.py'
      - 'platforms/scripts/platmgr/**'
      - '.github/workflows/python-static-analysis.yml'
  pull_request:
    branches: [master]
    paths-ignore:
      - 'python/**'
      - 'tools/extra/fpgabist/**'
      - 'tools/extra/packager/*.py'
      - 'tools/extra/packager/metadata/**'
      - 'tools/extra/packager/test/*.py'
      - 'tools/extra/pac_hssi_config/*.py'
      - 'tools/extra/fpgadiag/**'
      - 'tools/utilities/**'
      - 'scripts/*.py'
      - 'platforms/scripts/platmgr/**'
      - '.github/workflows/python-static-analysis.yml'

jobs:
  coding-style:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lang-type: [c, cpp]
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt-get update -y
    - name: Get Packages
      uses: mstksg/get-package@v1
      with:
        apt-get: clang-format
    - name: test ${{ matrix.lang-type }}
      run: ${{ github.workspace }}/scripts/test-codingstyle-all.sh ${{ matrix.lang-type }}
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [Debug, Release, RelWithDebInfo]
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt-get update -y
    - name: Get Packages
      uses: mstksg/get-package@v1
      with:
        apt-get: uuid-dev libjson-c-dev libhwloc-dev lcov libtbb-dev linux-headers-generic libedit-dev
    - name: Get Python packages
      run: python3 -m pip install setuptools --user
    - name: configure ${{ matrix.build-type }}
      run: mkdir ${{ github.workspace }}/.build && cd ${{ github.workspace }}/.build && cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}
    - name: make ${{ matrix.build-type }}
      run: cd ${{ github.workspace }}/.build && make -j
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt-get update -y
    - name: Get Packages
      uses: mstksg/get-package@v1
      with:
        apt-get: uuid-dev libjson-c-dev libhwloc-dev lcov libtbb-dev
    - name: set hugepages
      run: sudo sysctl -w vm.nr_hugepages=8
    - name: run unit tests
      run: ${{ github.workspace }}/scripts/cover.sh
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: unittests/coverage.info.cleaned
  build-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt-get update -y
    - name: Pull opae/docs-builder docker image
      run: docker pull opae/docs-builder
    - name: Build Documentation
      run: docker run --rm -v ${{ github.workspace }}:/root opae/docs-builder ./scripts/build-documentation.sh
    - name: Upload latest to github.io
      if: ${{ github.ref == 'refs/heads/master' }}
      working-directory: ${{ github.workspace }}/mybuild_docs
      run: ${{ github.workspace }}/scripts/push-documentation.sh latest
    - name: Upload tag to github.io
      if: startsWith(github.ref, 'refs/tags/')
      working-directory: ${{ github.workspace }}/mybuild_docs
      run: ${{ github.workspace }}/scripts/push-documentation.sh "${GITHUB_TAG##*/}"
    - name: Archive html docs
      uses: actions/upload-artifact@v1
      with:
        name: docs
        path: mybuild_docs/sphinx/html
    - name: Link Checker
      uses: peter-evans/link-checker@v1
      with:
        args: -v -r mybuild_docs/sphinx/html
    - name: Archive link-checker result
      uses: actions/upload-artifact@v1
      with:
        name: link-checker
        path: link-checker

