name: Python pacsign tests

on:
  pull_request:
    paths: 
      - 'python/pacsign/**'
      - '.github/workflows/pacsign.yml'
  push:
    paths:
      - 'python/pacsign/**'
      - '.github/workflows/pacsign.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run pacsign tox
      working-directory: python/pacsign
      run: |
        tox -e $(echo py${{ matrix.python-version }} | tr -d .)
